* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
  }
  
  
  a {
  
    cursor: pointer;
  }
  
  .top-menu {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    margin-bottom: 36px;
  }
  
  .top-menu .page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .top-menu .page a {
    color: white;
    margin-right: 10px;
  }
  
  .top-menu .icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  
  .top-menu .icon i {
    padding: 0 16px;
    cursor: pointer;
    font-size: 19px;
  }
  
  .lines {
    height: 36px;
    border-right: 1px white solid;
  }
  
  
  .main-content .selector {
    padding: 16px 0px;
    text-align: center;
  }
  
  .main-content .selector a {
    font-size: 17px;
    font-weight: 500;
    color: #989898;
    padding: 12px 12px;
  }
  
  #products {
    max-width: 1200px;
    margin: auto;
    display: flex;
  
    /* wait */
  }